body {
  background-color: #121212;
  color: white;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Push content to top and bottom */
  overflow-x: hidden; /* Prevent horizontal overflow */
}

.banner {
  text-align: center;
  border-radius: 15px;
  border-style: none;
}


footer {
  position: fixed; /* Fix footer at the bottom */
  bottom: 0;
  width: 100%;
  padding: 15px 0;
  display: flex;
  flex-direction: column; /* Stack the elements vertically */
  justify-content: flex-start;
  align-items: center; /* Center the content horizontally */
  background-color: #000000;
  border-top: 2px solid #000000;
}

.modeButtons {
  flex-grow: 1; /* Allow the buttons to grow to fill the available space */
  display: flex;
  justify-content: center; /* Center the content inside the button */
  margin: 0 5px; /* Add space between buttons */
}

.header {
  display: flex;
  justify-content: center;
  font-size: 25px;
  padding-top:15px;
}

button {
  background-color: #b7eaf3;
  border-style: none;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 1.1rem;
  width: 100%; /* Make buttons fill the container */
  text-align: center;
}

button:hover {
  background-color: #d8f9ff;
  cursor: pointer;
}

/* Hide all modes by default */
.manualModeScreen,
.autoModeScreen,
.mappingModeScreen {
  display: none;
  background-color: #282828;
  border-radius: 10px;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  overflow: hidden;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px;
}

.main {
  flex-grow: 1;
  background-color: #282828;
  border-radius: 25px;
}

.modeButtonsContainer {
  display: flex;
  justify-content: space-evenly; /* Evenly space the buttons */
  width: 100%;
}


.eStopButton {
  background-color: #ff4d4d; /* Red color for E-STOP */
  color: white;
  font-size: 1.1rem;
  padding: 15px 20px;
  width: 100%; /* Make it span the entire width */
  text-align: center;
  border-style: none;
  border-radius: 3px;
  margin-top: 10px;
  margin-right:10px;
  margin-left:10px;   
}

.eStopButton:hover {
  background-color: #ff1a1a; /* Darker red on hover */
  cursor: pointer;
}



/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 15px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 